.navigation {
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 300px;
    background-color: rgb(255, 255, 255, .7);
    left: -300px;
    transition: .3s;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
}

.active {
    left: 0;
}

.fa-bars {
    position: absolute;
    right: 0;
    transform: translateX(99%);
    background-color: rgb(255, 255, 255, .7);
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
}

.navigation ul {
    position: absolute;
    width: 200px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    list-style-type: none;
}

.navigation ul li {
    margin: 20px 0;
    font-size: 20px;
    display: block;
    width: 100%;
    border-radius: 5px;
}

.navigation ul li a {
    text-decoration: none;
    display: block;
    color: black;
    width: 100%;
    /* height: 100%; */
    padding: 15px;

}

.navigation ul li:hover {
    background-color: rgb(0, 0, 0, .1);
}

.navigation ul li .fas {
    margin-right: 20px;
}